[user]
	email = kaustubh.murumkar@gmail.com
  name = Kaustubh Murumkar
	signingkey = 2040042768BDA0E1
[core]
	editor = nvim
	autocrlf = input
	whitespace = cr-at-eol
[help]
	autocorrect = 1
[alias]
	root = rev-parse --show-toplevel
[credential "https://github.com"]
	helper = ! auth git-credential
