[user]
	email = kaustubh.murumkar@gmail.com
	name = Kaustubh Murumkar
[core]
	editor = nvim
	autocrlf = input
	whitespace = cr-at-eol
[help]
	autocorrect = 1
[alias]
	root = rev-parse --show-toplevel
[credential "https://github.com"]
	helper = 
	helper = ! auth git-credential
